.jp-SAGE2Icon {
  background-image: url(sage2a-green_final.svg);
}

.jp-SAGE2favicon {
  background-image: url(icon.png);
  width: 24px !important;
}

.jp-SAGE2-uiWrapper {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
}

.jp-SAGE2-serverConnectForm {
  font-size: 20px;
  color: black;
}


/* ========================= */


/* Using some styling for buttons and inputs from Bootstrap */

.jp-SAGE2-body {
  padding: 20px;
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

.jp-SAGE2-body button {
  display: inline-block;
  padding: 6px 12px;
  margin: 0 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.jp-SAGE2-body input {
  display: block;
  /* width: 100%; */
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
       -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin: 10px 0;
}

.jp-SAGE2-title {
  position: relative;
  font-style: italic;
  text-align: center;
  font-size: 32px;
  height: 200px;
  margin: -40px 0;
  background-image: url(sage2a-green_final.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.jp-SAGE2-addServerButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  /* display: inline-block; */
  font-size: 48px;
  font-weight: bold;
  margin: auto;
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.jp-SAGE2-connections {
  padding: 15px;
  text-align: center;
}

.jp-SAGE2-serverConnection {
  text-align: center;
  color: #00ba7b;
  padding: 15px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.jp-SAGE2-serverConnection a {
  font-weight: bold;
  display: block;
  font-size: 24px;
  margin: 5px;
  margin-bottom: 15px;
}

.jp-SAGE2-serverButtons {
  width: 100%;
}

.jp-SAGE2-serverButtonEdit {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.jp-SAGE2-serverButtonRemove {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
